{% extends 'base.html' %}
{% block title %}TXM Blog - Admin!{% endblock %}

{% block content %}

  <div id="create" class="layout">

    <h2>Blog admin</h2>

      <form action="?id={{ id|safe }}" method="post">{% csrf_token %}

        <ul>
        {{ form.as_ul }}
        {{ html|safe }}
        </ul>

      <input type="submit" value="Submit" />

    </form>

  </div><!-- /tabs -->


  <div id="blogs" class="layout">

    <h3>Blog posts</h3>

    {% for blog in blogs %}

      <div class="blog">

        <dl>
            <dt><label>Title:</label></dt>
            <dd>{{blog.title}}</dd>
 
            <dt><label>Body:</label></dt>
            <dd>{{blog.body}}</dd>
 
            <dt><label>Author:</label></dt>
            <dd><a href="mailto:{{blog.author}}">{{blog.author}}</a></dd>
 
            <dt><label>Date:</label></dt>
            <dd>{{blog.date}}</dd>
 
            <dt><label>Tweeted:</label></dt>
            <dd>{{blog.tweeted}}</dd>

        </dl>

        <ul class="actions">
          <li><a class="edit"   href="/admin/edit/?id={{blog.id}}">edit</a></li>
          <li><a class="delete" href="/admin/delete/?id={{blog.id}}">delete</a></li>
        </ul><!-- /actions -->

      </div><!-- /blog -->

      <hr />

    {% endfor %}

  </div><!-- /blogs -->

{% endblock %}
