{% extends 'admin_base.html' %}
{% block title %}Make:good - Admin!{% endblock %}

{% block content %}

  <div id="admin_menu">

    <h2>Menu</h2>

    <ul>
      <li><a href="/admin/about">About</a></li> 
      <li><a href="/admin/style">Styles</a></li> 
      <li><a href="/admin/bg_image">Backgrounds</a></li> 
      <li><a href="/admin/category">Categories</a></li> 
      <li><a href="/admin/page">Pages</a></li> 
    </ul>

  </div><!-- /admin_menu -->

  <div id="tools_menu">

    <h2>Tools</h2>

    <ul>
      <li><a href="http://www.google.com/webmasters/tools/">Webmaster Tools</a></li> 
      <li><a href="http://www.google.com/analytics/">Analytics</a></li> 
      <li><a href="http://www.gmail.com">Gmail</a></li> 
      <li><a href="http://www.google.com/adsense/">Adsense</a></li> 
      <li><a href="http://adwords.google.com/">Adwords</a></li> 
      <li><a href="http://appengine.google.com">Appengine</a></li> 
      <li><a href="http://googlewebmastercentral.blogspot.com/">Webmaster Central Blog</a></li> 
    </ul>

  </div><!-- /tools_menu -->

{% endblock %}
