{% extends 'admin_base.html' %}
{% block title %}Make:good - Admin!{% endblock %}

{% block content %}

  <div id="create" class="layout">

    <h2>Background images</h2>

      <form enctype="multipart/form-data" method="post">{% csrf_token %}

        <ul>
        {{ form.as_ul }}
        {{ html|safe }}
        </ul>

      <input type="submit" value="Submit" />

    </form>

  </div><!-- /tabs -->

  <div id="bg_images">

    <ul>
      {% for bg_image in bg_images %}
      <li>
        {{ bg_image.id }} {{ bg_image.title }} {{ bg_image.author }} {{ bg_image.image }} {{ bg_image.file_name }} {{ bg_image.content_type }} {{ bg_image.date_inserted }}
        <img src="/media/bg_image/{{ bg_image.id }}" alt="{{ bg_image.title }}" />
      </li> 
      {% endfor %}
    </ul>

  </div><!-- /bg_images -->

{% endblock %}
