<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - Make:good</title>

    <script type="text/javascript" src="https://www.google.com/jsapi?key={{ google_loader_key }}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/flick/jquery-ui.css" type="text/css" rel="Stylesheet" />

    <link href="/css/styles.css" type="text/css" rel="Stylesheet" />

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', {{ google_analytics_key }} ]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

  <body>
    <div id="header" class="layout">
      <h1><a id="logo" href="/admin/">Make:good -- Admin</a></h1>

    </div><!-- /header -->

    <div class="columns">

      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div><!-- /content -->

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div><!-- /sidebar -->

    </div><!-- /columns -->

    <div id="footer" class="layout">
      <a href="/">Home</a>
    </div><!-- /footer -->

    <script type="text/javascript">
      $(document).ready(function() {
      });
    </script>

    {% block js %}
    {% endblock %}

  </body>
</html>
