{% extends 'admin_base.html' %}

{% block title %}Make:good - Admin!{% endblock %}

{% block content %}

  <div id="admin_about">

    <h2>About</h2>

    {% if message %}<p class="message">{{ message }}</p>{% endif %}

    <p class="notice">Cath: The About details appear as the footer to your home page, currently as a full page width grey translucent rectangle.</p>

      <form method="post">{% csrf_token %}

        <ul>
        {{ form.as_ul }}
        {{ html|safe }}
        </ul>

      <input type="submit" value="Submit" />

    </form>

  </div><!-- /admin_about -->

  <div class="admin_about">

    <dd>
      <dt>Name: </dt><dl>{{ about.name }}</dl>
      <dt>Email: </dt><dl>{{ about.email }}</dl>
      <dt>Telephone: </dt><dl>{{ about.telephone }}</dl>
      <dt>Address: </dt><dl>{{ about.address }}</dl>
      <dt>Blurb: </dt><dl>{{ about.blurb }}</dl>
    </dd>

  </div><!-- /admin_about -->

{% endblock %}
