{% extends 'admin_base.html' %}

{% load filetransfers %}

{% block title %}Make:good - Admin!{% endblock %}

{% block content %}

  <div id="create" class="layout">

    <h2>Background images</h2>

    {% if message %}<p class="message">{{ message }}</p>{% endif %}

    <p class="notice">
      Cath: here you can upload background images for the homepage.  
      The image will will picked at random for each user/visit.  
      The maximum image size is a little under 1mb.
      You <em>should</em> compress the image as much as you can bear to do so, as this will speed up page load times for your users.
      If page load times are a problem we can look in to a couple of different solutions.
    </p>

    <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">{% csrf_token %}
      {% render_upload_data upload_data %}

      <ul>
        {{ form.as_ul|safe }}
      </ul>

      <input type="submit" value="Upload" />

    </form>

  </div><!-- /tabs -->

  <div id="bg_images">

    <ul>
      {% for bg_image in bg_images %}
      <li>
        <a href="/admin/bg_image/delete/{{ bg_image.id }}" class="icon"><span class="delete">Delete</span></a>
        <a href="/admin/bg_image/edit/{{ bg_image.id }}" class="icon"><span class="edit">Edit</span></a>
        {{ bg_image.id }} {{ bg_image.title }} 
        <img src="{{ bg_image.url }}" alt="{{ bg_image.title }}" />
        <img src="{{ bg_image.url_thumb }}" alt="{{ bg_image.title }}" class="thumb" />
      </li> 
      {% endfor %}
    </ul>

  </div><!-- /bg_images -->

{% endblock %}
