{% extends 'base.html' %}
{% block title %}Make:good{% endblock %}

{% block content %}

  <h2>About this Make:good</h2>

    {% if bg_image %}
      <img src="/media/bg_image/{{ bg_image.id }}" alt="{{ bg_image.title }}" id="bg_image" />
    {% else %}
      no background image available
    {% endif %}


    {% for category in categories %}
    <dl class="category" id="category-{{ category|safe }}">

      <dt>{{ category|safe }}</dt>

      {% for page in category.page_set.all %}
        <dd><a href="/p/{{ page.id }}/{{page|safe}}">{{page|safe}}</a></dd>
      {% endfor %}

    </dl>
    {% endfor %}

  <a href="/admin/"><img src="http://fffsilk.appspot.com/application_form.png" alt="admin this blog" />Admin</a>

{% endblock %}
