{% extends 'base.html' %}
{% block title %}Make:good{% endblock %}

{% block content %}

  <h2>About this Make:good</h2>

    {% if message %}<p class="message">{{ message }}</p>{% endif %}

    {% for category in categories %}
    <dl class="category transparent" id="category-{{ category|safe }}">

      <dt>{{ category|safe }}</dt>

      {% for page in category.page_set.all %}
        <dd><a href="/p/{{ page.id }}/{{page|safe}}">{{page|safe}}</a></dd>
      {% endfor %}

    </dl>
    {% endfor %}

{% endblock %}
